@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";
 
/* ---- Project Heading Separation ---- */

.project-header {
  margin-bottom: 1.2rem;
}

.project-title {
  font-size: 1.9rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #272341;
  margin-bottom: 0.3rem;
}

.project-description {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #555;
}

/* Space between projects */
.project-row {
  margin-bottom: 7rem;
}
